<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<header>
<h1>Welcome to the Sportbook Archive, where you can place your football bet</h1>
</header>
<body>
  <img id="main" src="https://cdn.pixabay.com/photo/2019/10/01/13/03/sport-4518188_960_720.jpg" alt="Hompage-Picture">
</body>
</html>