<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav id="navbar">
    <a href="/"><img src="/images/football-icon.png" alt="FOOTBALL-ICON"></a>
    <a id="sportbookTitle" href="/">
      <h2>SPORTBOOK ARCHIVE</h2>
    </a>
    <ul>
      {{#if currentUser}}
      <li><a href="/">Home</a></li>
      <a href="/sportsbook">Sportsbook</a>
      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/">Home</a></li>
      <a href="/sportsbook">Sportsbook</a>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    {{/if}}
</nav>
<div class="containerSection">
  {{{body}}}
</div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/dom.js"></script>
  <script src="/javascripts/APIHandler.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>